[Unit]
Description=Provides CHARIOT node membership service, which is a ZooKeeper client that simply connects to the server to create an ephemeral node for group membership

[Service]
#EnvironmentFile=-/etc/chariot/chariot.conf
ExecStart=/usr/local/bin/chariot-nm -c /etc/chariot/chariot.conf
KillMode=control-group
Restart=on-failure
RestartSec=5100ms

[Install]
WantedBy=multi-user.target






#[Unit]
#Description=OpenSSH server daemon
#Documentation=man:sshd(8) man:sshd_config(5)
#After=network.target sshd-keygen.service
#Wants=sshd-keygen.service

#[Service]
#EnvironmentFile=/etc/sysconfig/sshd
#ExecStart=/usr/sbin/sshd -D $OPTIONS
#ExecReload=/bin/kill -HUP $MAINPID
#KillMode=process
#Restart=on-failure
#RestartSec=42s

#[Install]
#WantedBy=multi-user.target